USE [W_GnBD]
if (28 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLCOACHS_CODCOACHS', 'codcoachs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlcoachs', 'PNLCOACHS_CODCOACHS', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlmem', 'PNLMEM_CODMEM__', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PNLPSW_78823445ACB44EAD', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'PNLPSW_78823445ACB44EAD','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'pnl';
end
GO
if (28 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLREFEREES_CODREFEREES', 'codreferees', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlreferees', 'PNLREFEREES_CODREFEREES', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'pnl';
end
GO
if (28 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLSTADIUMS_CODSTADIUMS', 'codstadiums', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlstadiums', 'PNLSTADIUMS_CODSTADIUMS', 'pnl';
end
GO
if (29 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLTEAM_CODTEAM_', 'codteam', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlteam', 'PNLTEAM_CODTEAM_', 'pnl';
end
GO
if (30 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLMATCHES_CODMATCHES', 'codmatches', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlmatches', 'PNLMATCHES_CODMATCHES', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'pnl';
end
GO
if (23 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PNLS_UA_15B73316BCBC4521', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PNLS_UA_15B73316BCBC4521', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'PNLS_UA_15B73316BCBC4521','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'pnl';
end
GO
if (29 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLPLAYERS_CODPLAYERS', 'codplayers', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlplayers', 'PNLPLAYERS_CODPLAYERS', 'pnl';
end
GO
if (29 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PNLGOALS_CODGOALS', 'codgoals', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'pnlgoals', 'PNLGOALS_CODGOALS', 'pnl';
end
GO

if (30 > isnull((select versindx from PNLcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'pnlalerta_alerta01'))
	DROP INDEX pnlalerta_alerta01 ON pnlalerta
CREATE INDEX pnlalerta_alerta01 ON pnlalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit01'))
	DROP INDEX pnlpostit_postit01 ON pnlpostit
CREATE INDEX pnlpostit_postit01 ON pnlpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit02'))
	DROP INDEX pnlpostit_postit02 ON pnlpostit
CREATE INDEX pnlpostit_postit02 ON pnlpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit03'))
	DROP INDEX pnlpostit_postit03 ON pnlpostit
CREATE INDEX pnlpostit_postit03 ON pnlpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit04'))
	DROP INDEX pnlpostit_postit04 ON pnlpostit
CREATE INDEX pnlpostit_postit04 ON pnlpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit05'))
	DROP INDEX pnlpostit_postit05 ON pnlpostit
CREATE INDEX pnlpostit_postit05 ON pnlpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit06'))
	DROP INDEX pnlpostit_postit06 ON pnlpostit
CREATE INDEX pnlpostit_postit06 ON pnlpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'pnlpostit_postit07'))
	DROP INDEX pnlpostit_postit07 ON pnlpostit
CREATE INDEX pnlpostit_postit07 ON pnlpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'pnlaltent_altent01'))
	DROP INDEX pnlaltent_altent01 ON pnlaltent
CREATE INDEX pnlaltent_altent01 ON pnlaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'pnldelega_delega01'))
	DROP INDEX pnldelega_delega01 ON pnldelega
CREATE INDEX pnldelega_delega01 ON pnldelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'pnldelega_delega02'))
	DROP INDEX pnldelega_delega02 ON pnldelega
CREATE INDEX pnldelega_delega02 ON pnldelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'pnllstusr_codpsw'))
	DROP INDEX pnllstusr_codpsw ON pnllstusr
CREATE INDEX pnllstusr_codpsw ON pnllstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'pnllstcol_codlstusr'))
	DROP INDEX pnllstcol_codlstusr ON pnllstcol
CREATE INDEX pnllstcol_codlstusr ON pnllstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'pnllstren_codlstusr'))
	DROP INDEX pnllstren_codlstusr ON pnllstren
CREATE INDEX pnllstren_codlstusr ON pnllstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'pnlusrwid_codlstusr'))
	DROP INDEX pnlusrwid_codlstusr ON pnlusrwid
CREATE INDEX pnlusrwid_codlstusr ON pnlusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'pnltblcfg_codpsw_uuid_name'))
	DROP INDEX pnltblcfg_codpsw_uuid_name ON pnltblcfg
CREATE INDEX pnltblcfg_codpsw_uuid_name ON pnltblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'pnltblcfg_codpsw_uuid'))
	DROP INDEX pnltblcfg_codpsw_uuid ON pnltblcfg
CREATE INDEX pnltblcfg_codpsw_uuid ON pnltblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logpnlall_logpnlall01'))
	DROP INDEX logpnlall_logpnlall01 ON logpnlall
CREATE CLUSTERED INDEX [logpnlall_logpnlall01] ON [dbo].[logPNLall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE PNLcfg set versindx = 30
end
GO