USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[PNLGOALS] WITH NOCHECK ADD CONSTRAINT [FK_PNLGOALS_MATCHID_PNLMATCHES_CODMATCHES] FOREIGN KEY([MATCHID]) REFERENCES [dbo].[PNLMATCHES] ([CODMATCHES])
ALTER TABLE [dbo].[PNLGOALS] NOCHECK CONSTRAINT [FK_PNLGOALS_MATCHID_PNLMATCHES_CODMATCHES]

ALTER TABLE [dbo].[PNLGOALS] WITH NOCHECK ADD CONSTRAINT [FK_PNLGOALS_PLAYERID_PNLPLAYERS_CODPLAYERS] FOREIGN KEY([PLAYERID]) REFERENCES [dbo].[PNLPLAYERS] ([CODPLAYERS])
ALTER TABLE [dbo].[PNLGOALS] NOCHECK CONSTRAINT [FK_PNLGOALS_PLAYERID_PNLPLAYERS_CODPLAYERS]

ALTER TABLE [dbo].[PNLPLAYERS] WITH NOCHECK ADD CONSTRAINT [FK_PNLPLAYERS_TEAMID_PNLMATCHES_CODMATCHES] FOREIGN KEY([TEAMID]) REFERENCES [dbo].[PNLMATCHES] ([CODMATCHES])
ALTER TABLE [dbo].[PNLPLAYERS] NOCHECK CONSTRAINT [FK_PNLPLAYERS_TEAMID_PNLMATCHES_CODMATCHES]

ALTER TABLE [dbo].[PNLMATCHES] WITH NOCHECK ADD CONSTRAINT [FK_PNLMATCHES_AWAYTEAMID_PNLAWAYTEAM_CODTEAM] FOREIGN KEY([AWAYTEAMID]) REFERENCES [dbo].[PNLAWAYTEAM] ([CODTEAM])
ALTER TABLE [dbo].[PNLMATCHES] NOCHECK CONSTRAINT [FK_PNLMATCHES_AWAYTEAMID_PNLAWAYTEAM_CODTEAM]

ALTER TABLE [dbo].[PNLMATCHES] WITH NOCHECK ADD CONSTRAINT [FK_PNLMATCHES_HOMETEAM_PNLTEAM_CODTEAM] FOREIGN KEY([HOMETEAM]) REFERENCES [dbo].[PNLTEAM] ([CODTEAM])
ALTER TABLE [dbo].[PNLMATCHES] NOCHECK CONSTRAINT [FK_PNLMATCHES_HOMETEAM_PNLTEAM_CODTEAM]

GO
