USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLAWAYTEAM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLAWAYTEAM', coalesce(cast((select max(codteam) from PNLAWAYTEAM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codteam) from PNLAWAYTEAM) as bigint) + 1, 1) where id_objecto = 'PNLAWAYTEAM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLCOACHS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLCOACHS', coalesce(cast((select max(codcoachs) from PNLCOACHS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codcoachs) from PNLCOACHS) as bigint) + 1, 1) where id_objecto = 'PNLCOACHS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLGOALS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLGOALS', coalesce(cast((select max(codgoals) from PNLGOALS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codgoals) from PNLGOALS) as bigint) + 1, 1) where id_objecto = 'PNLGOALS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLMATCHES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLMATCHES', coalesce(cast((select max(codmatches) from PNLMATCHES) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmatches) from PNLMATCHES) as bigint) + 1, 1) where id_objecto = 'PNLMATCHES'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLPLAYERS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLPLAYERS', coalesce(cast((select max(codplayers) from PNLPLAYERS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codplayers) from PNLPLAYERS) as bigint) + 1, 1) where id_objecto = 'PNLPLAYERS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1) where id_objecto = 'UserLogin'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLREFEREES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLREFEREES', coalesce(cast((select max(codreferees) from PNLREFEREES) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codreferees) from PNLREFEREES) as bigint) + 1, 1) where id_objecto = 'PNLREFEREES'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1) where id_objecto = 'AsyncProcessAttachments'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLSTADIUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLSTADIUMS', coalesce(cast((select max(codstadiums) from PNLSTADIUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codstadiums) from PNLSTADIUMS) as bigint) + 1, 1) where id_objecto = 'PNLSTADIUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLTEAM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLTEAM', coalesce(cast((select max(codteam) from PNLTEAM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codteam) from PNLTEAM) as bigint) + 1, 1) where id_objecto = 'PNLTEAM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLMEM', coalesce(cast((select max(CODMEM) from PNLMEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODMEM) from PNLMEM) as bigint) + 1, 1) where id_objecto = 'PNLMEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLCFG', coalesce(cast((select max(CODCFG) from PNLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODCFG) from PNLCFG) as bigint) + 1, 1) where id_objecto = 'PNLCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLUSRSET', coalesce(cast((select max(CODUSRSET) from PNLUSRSET) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRSET) from PNLUSRSET) as bigint) + 1, 1) where id_objecto = 'PNLUSRSET'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLUSRCFG', coalesce(cast((select max(CODUSRCFG) from PNLUSRCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRCFG) from PNLUSRCFG) as bigint) + 1, 1) where id_objecto = 'PNLUSRCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWKFACT', coalesce(cast((select max(CODWKFACT) from PNLWKFACT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFACT) from PNLWKFACT) as bigint) + 1, 1) where id_objecto = 'PNLWKFACT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWKFCON', coalesce(cast((select max(CODWKFCON) from PNLWKFCON) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFCON) from PNLWKFCON) as bigint) + 1, 1) where id_objecto = 'PNLWKFCON'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWKFLIG', coalesce(cast((select max(CODWKFLIG) from PNLWKFLIG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLIG) from PNLWKFLIG) as bigint) + 1, 1) where id_objecto = 'PNLWKFLIG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWKFLOW', coalesce(cast((select max(CODWKFLOW) from PNLWKFLOW) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLOW) from PNLWKFLOW) as bigint) + 1, 1) where id_objecto = 'PNLWKFLOW'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLNOTIFI', coalesce(cast((select max(CODNOTIFI) from PNLNOTIFI) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODNOTIFI) from PNLNOTIFI) as bigint) + 1, 1) where id_objecto = 'PNLNOTIFI'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLSCRCRD', coalesce(cast((select max(CODSCRCRD) from PNLSCRCRD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODSCRCRD) from PNLSCRCRD) as bigint) + 1, 1) where id_objecto = 'PNLSCRCRD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLPOSTIT', coalesce(cast((select max(CODPOSTIT) from PNLPOSTIT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPOSTIT) from PNLPOSTIT) as bigint) + 1, 1) where id_objecto = 'PNLPOSTIT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLPRMFRM', coalesce(cast((select max(CODPRMFRM) from PNLPRMFRM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRMFRM) from PNLPRMFRM) as bigint) + 1, 1) where id_objecto = 'PNLPRMFRM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLALERTA', coalesce(cast((select max(CODALERTA) from PNLALERTA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALERTA) from PNLALERTA) as bigint) + 1, 1) where id_objecto = 'PNLALERTA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLALTENT', coalesce(cast((select max(CODALTENT) from PNLALTENT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALTENT) from PNLALTENT) as bigint) + 1, 1) where id_objecto = 'PNLALTENT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLTALERT', coalesce(cast((select max(CODTALERT) from PNLTALERT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTALERT) from PNLTALERT) as bigint) + 1, 1) where id_objecto = 'PNLTALERT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLDELEGA', coalesce(cast((select max(CODDELEGA) from PNLDELEGA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODDELEGA) from PNLDELEGA) as bigint) + 1, 1) where id_objecto = 'PNLDELEGA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLLSTUSR', coalesce(cast((select max(CODLSTUSR) from PNLLSTUSR) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTUSR) from PNLLSTUSR) as bigint) + 1, 1) where id_objecto = 'PNLLSTUSR'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLLSTCOL', coalesce(cast((select max(CODLSTCOL) from PNLLSTCOL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTCOL) from PNLLSTCOL) as bigint) + 1, 1) where id_objecto = 'PNLLSTCOL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLLSTREN', coalesce(cast((select max(CODLSTREN) from PNLLSTREN) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTREN) from PNLLSTREN) as bigint) + 1, 1) where id_objecto = 'PNLLSTREN'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLUSRWID', coalesce(cast((select max(CODUSRWID) from PNLUSRWID) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRWID) from PNLUSRWID) as bigint) + 1, 1) where id_objecto = 'PNLUSRWID'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLTBLCFG', coalesce(cast((select max(CODTBLCFG) from PNLTBLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTBLCFG) from PNLTBLCFG) as bigint) + 1, 1) where id_objecto = 'PNLTBLCFG'

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1) where id_objecto = 'HASHCD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1) where id_objecto = 'DOCUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from PNLWORKFLOWPROCESS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRCESS) from PNLWORKFLOWPROCESS) as bigint) + 1, 1) where id_objecto = 'PNLWORKFLOWPROCESS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PNLWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PNLWORKFLOWTASK', coalesce(cast((select max(CODTASK) from PNLWORKFLOWTASK) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTASK) from PNLWORKFLOWTASK) as bigint) + 1, 1) where id_objecto = 'PNLWORKFLOWTASK'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1) where id_objecto = 'ReportList'
GO
 