IF((SELECT COUNT(1) FROM PNLcfg) = 0)
	INSERT INTO PNLcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2504, 0, NULL, 0, 0)
ELSE
  UPDATE PNLcfg set versao = 2504, upgrindx = 0;
GO
